body {
  align-items: center;
  background: #151417;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;



}

header h1 {
  font-family: 'edensorfree';
  margin: 5px;
  font-size: 40px;
  color: #de9a51;
  text-align: center;
}

/*CLASES GENERALES PARA TODA LA APP*/
.dflex {
  display: flex;
}

.dnone {
  display: none;
}

.btn--general {
  background-color: #cf9260;
  font-family: 'newyorkregular';
  padding: 5px;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: solid 1px #7e513e;
  box-shadow: 1px 1px 3px #d18726;
}

.btn--general:hover {
  background-color: #e49b60;
  border: solid 1px #7e513e;
  box-shadow: 1px 1px 4px #d18726;
}

.btn {
  width: 70%;
  height: 45px;
  font-size: 20px;
}

.txt__general--primario {
  font-family: 'edensorfree';
  color: #de9a51;
  font-size: 30px;
}

.txt__general--secundario {
  color: #de9a51;
  text-align: center;
  font-family: 'newyorkregular'
}

.section {
  width: 100%;
  height: calc(100vh - 65px);

}

/*PANTALLA DE INICIO*/

.section_inicio {
  background: url(imagenes/constelaciones-familiares.jpg)center center fixed;
  background-size: cover;
  justify-content: center;

}

.section_inicio--partidas {
  background: url(imagenes/constelaciones-familiares.jpg)center center fixed;
  align-items: center;
  flex-direction: column;

}

.form {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 60vh);
  border: double 4px#de9a51;
  border-radius: 15px;
  margin-top: 25px;
}

.form_participante {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: #ffebbd;
  border-radius: 7px;
  font-family: 'newyorkregular';
  font-weight: 600;
  border: inset #7e513e;
  outline: none;
}

.form_participante:focus {
  outline: none;
  border: solid 1px #7e513e;
}

.primer_pantalla--partidas {
  *display: flex;
  width: 85%;
  height: calc(100vh - 450px);
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border: solid 1px #d18726;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ce985e;
  background: #15151590;
  padding: 20px;
}

#partidas {
  margin: 0px;
  padding-left: 0px;
  width: 100%;
  overflow: scroll;
}

#partidas::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.txt_partidas {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0;
  font-size: 20px;
  flex: 1;

}

.btn_ver {
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px;
  background: none;
  color: #cf9260;
  padding-left: 10px;
  padding-right: 10px;

}

.btn_ver:hover {
  background: none;
  box-shadow: 1px 1px 5px #d18726;
}



/*PANTALLA DE CARGA*/
.section_carga {
  background: #000001;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#img_espera {
  width: 75%;
  margin-top: 100px;
}

/*TERCER PANTALLA*/

.section_carousel {
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: calc(100vh - 65px);
  border: solid 1px #d18726;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ce985e;
  background: #161616;
}

.carousel {
  width: 80%;

}

.carousel-caption {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  left: 0;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-next {
  left: 110%;
}

.carousel-control-prev {
  left: -20%
}

.card {
  border: solid 3px#cfad5a;
  border-radius: 18px;

}

.barra-cierre {
  position: absolute;
  right: 10px;
  top: 0;
}

.btn-cierre {
  border: none;
  background: none;
  font-size: 35px;
  padding-top: 0px;
}

.btn-cierre:hover {
  text-shadow: 1px 1px 2px #ecb478;
  color: #cfad5a;
}

.btn_continuar {
  width: 50%;
  font-size: 20px;
}

/*POP UP BOTONES*/
.section_opciones {
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 50px;
  height: calc(100vh - 300px);
  border: solid 1px #d18726;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #ce985e;
  background: #151515;
  align-items: center;
}

/*MATCH PANTALLA*/
.section_match {
  flex-direction: column;
  width: 95%;
  height: calc(100vh - 80px);
  border: solid 1px #d18726;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #ce985e;
  background: #151515;
  align-items: center;
  position: relative;
}

.jugador {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.cartas {
  display: flex;
  justify-content: space-around;
}

.cartas img {
  border: solid 1px #d18726;
  border-radius: 10px;
  width: 29%;
}

.ver_match {
  margin-top: 20px;
  font-size: 20px;
}

#btn_cierre--match2 {
  display: none;
}

.match-btn {
  width: 30%;
}

.div_match-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

/*MEDIA QUERYS*/
@media (max-height: 450px) {
  .form {
    border: none;
  }

  .primer_pantalla--partidas {
    border: none;
    background: none;
    box-shadow: none;
  }

  .btn {
    width: 70%;
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
  }

  .btn--general {
    margin-top: 10px;
  }

}

@media (max-height: 650px) {

  .carousel {
    width: 60%;

  }

  .btn_continuar {
    display: none;
  }

  .frase {
    overflow: hidden;
  }

  .carouselTitulo {
    font-size: 20px;
  }

  #btn_cierre--match2 {
    display: flex;
  }

  #btn_cierre--match {
    display: none;
  }
}

@media (max-width: 350px) {
  header h1 {
    font-size: 30px;
  }

  .txt__general--primario {
    font-size: 25px;
  }

  .btn {
    width: 90%;
    height: 50px;
    font-size: 18px;
  }
}

@media (min-height: 760px) and (min-width: 380px) {
  .carousel {
    width: 55%;
    height: 90%;
  }

  .frase {
    display: flex;
  }
}

@media (min-width: 425px) {
  .section {
    width: 420px;
    background-size: contain;
  }
}